<%= render "layouts/ajaxify" %>

<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li>الصفحة الرئيسية</li>
      <li>المواد الخام</li>
      <li>عرض.مادة.خام</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-search"></i>
          <span>عرض.مادة.خام</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content">
        <% if notice.present? %>
        <h3 class="alert alert-danger"><%= notice%></h3>
        <%end%>
          <%= form_for(@raw_material, html: {class: 'form-horizontal'}) do |f| %>
            <% if @raw_material.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@raw_material.errors.count, "error") %> prohibited this raw_material from being saved:</h2>

                <ul>
                <% @raw_material.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :name,  'اسم المادة الخام', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :name , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :description,  'الوصف', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_area :description , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :unit,  'الوحدة', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :unit , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :in_stock,  'الكمية', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :in_stock , {class:"form-control", disabled:true}%>
              </div>
            </div>
            <%= link_to 'تعديل', edit_raw_material_path(@raw_material) %>
            <%= link_to 'حذف', @raw_material, method: :delete, data: { confirm: 'هل أنت متأكد؟' } %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
// Run Select2 plugin on elements
function DemoSelect2(){
  $('#s2_with_tag').select2({placeholder: "Select OS"});
  $('#s2_country').select2();
}
// Run timepicker
function DemoTimePicker(){
  $('#input_time').timepicker({setDate: new Date()});
}
$(document).ready(function() {
  // Create Wysiwig editor for textare
  TinyMCEStart('#wysiwig_simple', null);
  TinyMCEStart('#wysiwig_full', 'extreme');
  // Add slider for change test input length
  FormLayoutExampleInputLength($( ".slider-style" ));
  // Initialize datepicker
  $('#input_date').datepicker({setDate: new Date()});
  // Load Timepicker plugin
  LoadTimePickerScript(DemoTimePicker);
  // Add tooltip to form-controls
  $('.form-control').tooltip();
  LoadSelect2Script(DemoSelect2);
  // Load example of form validation
  LoadBootstrapValidatorScript(DemoFormValidator);
  // Add drag-n-drop feature to boxes
  WinMove();
});
</script>



