<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li>الصفحة الرئيسية</li>
      <li>أذونات المخزن</li>
      <li>أذونات الإضافة</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>أذونات إضافة المواد الخام</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-2">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>رقم الإذن</th>
              <th>المادة الخام</th>
              <th>الكمية</th>
            </tr>
          </thead>
          <tbody>
            <% @material_permissions.each do |permission| %>
              <%material = @materials.find(permission.transaction_id)%>
              <%url = "/permission/material_stock/#{permission.id}"%>
              <tr data-href=<%=url%>>
                <td><%= material.date_added %></td>
                <td><%= permission.id %></td>
                <td><ul>
                  <% @raw_materials.find(material.raw_material_ids).each do |r| %>
                  <li><%= r.name%></li>
                  <%end%>
                </ul>
                </td>
                <td><ul>
                  <% material.quantities.each do |q| %>
                  <li><%= q%></li>
                  <%end%>
                </ul>
                </td>
              </tr>
            <% end %>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><label><input type="text" name="search_date" value="البحث بالتاريخ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_permission" value="البحث برقم الفاتورة" class="search_init" /></label></th>
              <th><label><input type="text" name="search_product" value="البحث بالمنتج" class="search_init" /></label></th>
              <th><label><input type="text" name="search_client" value="البحث بالعميل" class="search_init" /></label></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>أذونات إضافة المنتجات</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-3">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>رقم الإذن</th>
              <th>المنتج</th>
              <th>الكمية</th>
            </tr>
          </thead>
          <tbody>
            <% @product_permissions.each do |permission| %>
              <%@product = @products.find_by_id(permission.transaction_id)%>
              <%if !@product
                  next
                end%>
              <% url = "/permission/product/#{permission.id}" %>
              <tr data-href=<%=url%>>
                <td><%= permission.created_at.strftime("%Y/%m/%d") %></td>
                <td><%= permission.id %></td>
                <td><%= @product.name %></td>
                <td><%= @product.quantity %></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><label><input type="text" name="search_date" value="البحث بالتاريخ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_permission" value="البحث برقم الفاتورة" class="search_init" /></label></th>
              <th><label><input type="text" name="search_product" value="البحث بالمنتج" class="search_init" /></label></th>
              <th><label><input type="text" name="search_client" value="البحث بالعميل" class="search_init" /></label></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
  setupTables();
  LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
  $('select').select2();
  $('.dataTables_filter').each(function(){
    $(this).find('label input[type=text]').attr('placeholder', 'Search');
  });
}
$(document).ready(function() {
  // Load Datatables and run plugin on tables 
  LoadDataTablesScripts(AllTables);
  // Add Drag-n-Drop feature
  WinMove();

});
    $("tr[data-href]").click(function() {
  window.location = this.dataset.href;
}).hover(function() {
    $(this).toggleClass('hover');
});
</script>
