<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="index.html">الصفحة الرئيسية</a></li>
      <li><a href="#">حركات الصناعة</a></li>
      <li><a href="#">اذن.دخول.مادة.خام</a></li>
    </ol>
  </div>
</div>
<%=hidden_field_tag "permission1_id", (sprintf '%06d', @permission1.id)%>
<div class="row"  dir="ltr">
  <div class="col-xs-8 col-xs-offset-2" id="permission1">
      <div class="box-content">
        <div>
          <div class="col-xs-5 text-center">
            <br/>
            <div>سجل تجاري رقم: 4274</div>
            <div>بطاقة ضريبية رقم: 954-197-374</div>
            <div>ملف ضريبي رقم: 00-00-250-00123-5</div>
            <br/>
            <strong >No <%=sprintf '%06d', @permission1.id%></strong>
          </div>

          <div class="col-xs-2">
            <%= image_tag "img/logo.png", style:"margin-bottom:20px;"%>
            <div class="text-center block">إذن دخول مادة خام</div>
          </div>
          <div class="col-xs-5 pull-right" style="text-align:center;">
              <div><strong>اسكندرية للأحبار المتخصصة والكيماويات</strong></div>
              <div align=center>ش.م.م</div>
              <div>6 شارع عزيز فهمي - سبورتنج</div>
              <div>الإسكندرية - مصر</div>
              <div>ت : 035469692 - 01004814814816</div>
              <div>Email: info@alexinkegypt.net</div>
              <div>تحريراً في : <%= @material.date_added%></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 pull-right text-right" dir="rtl" style="margin-top: 20px;">من السادة شركة: <span style="border-bottom: 1px dotted;"><%=@supplier.name%></span></div>
        <div class="col-xs-12">

          <table border="2" dir="rtl" class="col-xs-12 pull-right">
            <tr>
              <th class="text-center">البيان</th>
              <th style="width: 70px" class="text-center">الكمية</th>
            </tr>
            <%@raw_materials.each_with_index do |raw_material, i|%>
            <tr>
                <td class="text-center"><%=raw_material.name%></th>
                <td style="width: 70px" class="text-center"><%=@material.quantities[i]%></th>
            </tr>
            <%end%>
          </table>
        </div>
        <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="col-xs-6 col-xs-offset-6">
    <div class="col-xs-4">
      <a href"" class="btn btn-default btn-label-left" id="print-1"><span><i class="fa fa-floppy-o"></i></span> طباعة وحفظ</a>
    </div>
  </div>


<%=hidden_field_tag "permission2_id", (sprintf '%06d', @permission2.id)%>
<div class="row"  dir="ltr">
  <div class="col-xs-8 col-xs-offset-2" id="permission2">
      <div class="box-content">
        <div>
          <div class="col-xs-5 text-center">
            <br/>
            <div>سجل تجاري رقم: 4274</div>
            <div>بطاقة ضريبية رقم: 954-197-374</div>
            <div>ملف ضريبي رقم: 00-00-250-00123-5</div>
            <br/>
            <strong >No <%=sprintf '%06d', @permission2.id%></strong>
          </div>

          <div class="col-xs-2">
            <%= image_tag "img/logo.png", style:"margin-bottom:20px;"%>
            <div class="text-center block">إذن صرف نقدية</div>
          </div>
          <div class="col-xs-5 pull-right" style="text-align:center;">
              <div><strong>اسكندرية للأحبار المتخصصة والكيماويات</strong></div>
              <div align=center>ش.م.م</div>
              <div>6 شارع عزيز فهمي - سبورتنج</div>
              <div>الإسكندرية - مصر</div>
              <div>ت : 035469692 - 01004814814816</div>
              <div>Email: info@alexinkegypt.net</div>
              <div>تحريراً في : <%= @material.date_added%></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 pull-right text-right" dir="rtl" style="margin-top: 20px;">يصرف للسادة شركة: <span style="border-bottom: 1px dotted;"><%=@supplier.name%></span></div>
        <div class="col-xs-12">

          <table border="2" dir="rtl" class="col-xs-12 pull-right">
            <tr>
              <th colspan="2" class="text-center">الإجمالي</th>
              <th colspan="2" class="text-center">سعر الوحدة</th>
              <th rowspan="2" style="width: 70px" class="text-center">الكمية</th>
              <th rowspan="2" class="text-center">البيان</th>
            </tr>
            <tr>
              <th style="width: 50px" class="text-center">قرش</th>
              <th style="width: 60px" class="text-center">جنيه</th>
              <th style="width: 50px" class="text-center">قرش</th>
              <th style="width: 60px" class="text-center">جنيه</th>
            </tr>
            <%@material.raw_material_ids.each_with_index do |p, i|%>
              <tr>
                <%price_i = @material.prices[i].to_f * @material.quantities[i].to_f%>
                <td class="text-center"><%=sprintf '%02d', (price_i - price_i.to_i) * 100%></td>
                <td class="text-center"><%=price_i.to_i%></td>
                <td class="text-center"><%=sprintf '%02d', (@material.prices[i].to_f - @material.prices[i].to_i) * 100%></td>
                <td class="text-center"><%=@material.prices[i].to_i%></td>
                <td class="text-center"><%=@material.quantities[i]%></td>
                <td class="text-center"><%=RawMaterial.find(p).name%></td>
              </tr>
            <%end%>
            <%(15 - @raw_materials.count).times.each do |i|%>
              <tr>
                <td class="text-center">&nbsp</td>
                <td class="text-center">&nbsp</td>
                <td class="text-center">&nbsp</td>
                <td class="text-center">&nbsp</td>
                <td></td>
                <td></td>
              </tr>
            <%end%>
            <tr>
              <td class="text-center"><%=sprintf '%02d', (@material.price.to_f - @material.price.to_i) * 100%></td>
              <td class="text-center"><%=@material.price.to_i%></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center"></td>
              <td class="text-center">الإجمالي</td>
            </tr>
            <%if @material.internal == 1%>
              <tr>
                <%addition = @material.price * 0.1%>
                <td class="text-center"><%=sprintf '%02d', (addition - addition.to_i) * 100%></td>
                <td class="text-center"><%=addition.to_i%></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">يضاف 10% ض.م</td>
              </tr>
              <%subtraction = 0%>
              <%if @material.calc_sub_tax == 1%>
              <tr>
                <%subtraction = @material.price * 0.005%>
                <td class="text-center"><%=sprintf '%02d', (subtraction - subtraction.to_i) * 100%></td>
                <td class="text-center"><%=subtraction.to_i%></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">يخصم 0.5% ض.أ.ص</td>
              </tr>
              <%end%>
              <tr>
                <%total = @material.price + addition - subtraction%>
                <td class="text-center"><%=sprintf '%02d', (total - total.to_i) * 100%></td>
                <td class="text-center"><%=total.to_i%></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center">الإجمالي بعد الضرائب</td>
              </tr>
            <%end%>

          </table>
        </div>
        <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="col-xs-6 col-xs-offset-6">
    <div class="col-xs-4">
      <a href"" class="btn btn-default btn-label-left" id="print-2"><span><i class="fa fa-floppy-o"></i></span> طباعة وحفظ</a>
    </div>
  </div>
<%= javascript_include_tag 'js/jspdf.min' %>
<%= javascript_include_tag 'js/html2canvas' %>
<script>
replaceDigits();
  //require 'jspdf'
  var doc = new jsPDF('p', 'pt', 'a4');
  var specialElementHandlers = {
      '#editor': function (element, renderer) {
          return true;
      }
  };
  $('#print-1').click(function () {
      var doc = new jsPDF('p', 'pt', 'a4');
    html2canvas(document.querySelector("#permission1"), { onrendered: function(canvas) {
      doc.addImage(canvas.toDataURL(), 'JPEG', 0, 0, 595, canvas.height);
        doc.save('Permission - ' + $("#permission1_id").val() + '.pdf');
    }});
  });

  $('#print-2').click(function () {
      var doc = new jsPDF('p', 'pt', 'a4');
    html2canvas(document.querySelector("#permission2"), { onrendered: function(canvas) {
      doc.addImage(canvas.toDataURL(), 'JPEG', 0, 0, 595, canvas.height);
        doc.save('Permission - ' + $("#permission2_id").val() + '.pdf');
    }});
  });

</script>