<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">الصفحة الرئيسية</a></li>
      <li><a href="#">أذونات الصرف من الخزنة</a></li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>أذونات الصرف من الخزنة</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-2">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>رقم الإذن</th>
              <th>البيان</th>
              <th>المبلغ</th>
            </tr>
          </thead>
          <tbody>
            <% @permissions.each do |permission| %>
              <%if permission.transaction_for == 1 %>
                <%t = Material.find(permission.transaction_id)%>
                <%url = "/permission/material_expense/#{permission.id}"%>
              <%else%>
                <%t = Expense.find(permission.transaction_id)%>
                <%url = "/permission/expense/#{permission.id}"%>
              <%end%>
              <tr data-href=<%=url%>>
                <td><%= t.date_added %></td>
                <td><%= permission.id %></td>
                <%if t.is_a? Material%>
                  <td><ul>
                  <% RawMaterial.find(t.raw_material_ids).each do |r| %>
                  <li><%= r.name%></li>
                  <%end%>
                </ul>
                </td>
                  <td><%= permission.quantity %></td>
                <%else%>
                  <td><%= t.name %></td>
                  <td><%= t.price %></td>
                <%end%>
              </tr>
            <% end %>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><label><input type="text" name="search_date" value="البحث بالتاريخ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_permission" value="البحث برقم الإذن" class="search_init" /></label></th>
              <th><label><input type="text" name="search_product" value="البحث بالبيان" class="search_init" /></label></th>
              <th><label><input type="text" name="search_client" value="البحث بالمبلغ" class="search_init" /></label></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
  setupTables();
  LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
  $('select').select2();
  $('.dataTables_filter').each(function(){
    $(this).find('label input[type=text]').attr('placeholder', 'Search');
  });
}
$(document).ready(function() {
  // Load Datatables and run plugin on tables 
  LoadDataTablesScripts(AllTables);
  // Add Drag-n-Drop feature
  WinMove();

});
    $("tr[data-href]").click(function() {
  window.location = this.dataset.href;
}).hover(function() {
    $(this).toggleClass('hover');
});
</script>
