
<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">الحسابات العامة</a></li>
      <li><a href="#">إهلاك الأصول الثابتة</a></li>
    </ol>
  </div>
</div>
<div>
  <div class="pull-right col-sm-1">
    السنة
  </div>
  <div class="pull-right col-sm-2">
    <select id="input_year">
      <%cur = Time.now.year%>
      <%(2000..cur).each do |y|%>
        <option value="<%= y%>" <%= @_year == y ? "selected" : ""%>><%= y%></option>
      <%end%>
    </select>  
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>إهلاك الأصول الثابتة</span>
        </div>
        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading">
          <thead>
            <tr>
              <th>البيان</th>
              <th>النسبة</th>
              <th>المدة</th>
              <th>قيمة الأصل</th>
              <th>مجمع إهلاك <%= @_year%></th>
              <th>إهلاك <%= "#{@_year}/1/1"%></th>
              <th>مجمع إهلاك <Date.new(@_year, 12, 31).strftime("%Y/%m/%d")></th>
              <th>صافي قيمة الأصل</th>
              <th>تعديل</th>
            </tr>
          </thead>
          <tbody>
            <%total_value = 0%>
            <%total_last_year_acc = 0%>
            <%total_ehlak = 0%>
            <%total_acc_ehlak = 0%>
            <%total_total_values = 0%>
            <% @ehlak.each do |e| %>
              <%total_value = total_value + e.value%>
              <%total_last_year_acc = total_last_year_acc + e.last_year_acc%>
              <%total_ehlak = total_ehlak + e.ehlak%>
              <%total_acc_ehlak = total_acc_ehlak + e.acc_ehlak%>
              <%total_total_values = total_total_values + e.total_value%>
              <tr>
                <input type="hidden" value="<%= e.id%>" />
                <td><input style="width: 100px;" value="<%= e.name %>"></input></td>
                <td><input style="width: 100px;" value="<%= e.rate %>"></input></td>
                <td>سنة</td>
                <td><input style="width: 100px;" value="<%= e.value %>"></input></td>
                <td><input style="width: 100px;" value="<%= e.last_year_acc %>"></input></td>
                <td><%= f  e.ehlak %></td>
                <td><%= f e.acc_ehlak %></td>
                <td><%= f e.total_value %></td>
                <td><button class="update">تعديل</button></td>
              </tr>

              <tr>
                <td>الإجمالي</td>
                <td></td>
                <td></td>
                <td><%= total_value%></td>
                <td><%= total_last_year_acc%></td>
                <td><%= total_ehlak%></td>
                <td><%= total_acc_ehlak%></td>
                <td><%= total_total_values%></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
  setupTables();
  LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
  $('select').select2();
  $('.dataTables_filter').each(function(){
    $(this).find('label input[type=text]').attr('placeholder', 'Search');
  });
}
$(document).ready(function() {
  // Load Datatables and run plugin on tables 
  LoadDataTablesScripts(AllTables);
  // Add Drag-n-Drop feature
  WinMove();

});
    $("tr[data-href]").click(function() {
  window.location = this.dataset.href;
}).hover(function() {
    $(this).toggleClass('hover');
});

var f = function() {
    $.ajax({ url: '/wear_outs',
      type: 'POST',
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      data: {'_year': $('#input_year').val()},
      success: function(response) {
        $('#ajax-content').html(response);
      }
    });
}
$('#input_year').change(f)
$(".update").click(function(e) {
  t = e.target;
  children = t.parentNode.parentNode.children;
  id = children[0].value
  name = children[1].children[0].value
  rate = children[2].children[0].value
  value = children[4].children[0].value
  last_year_acc = children[5].children[0].value
  $.ajax({ url: '/wear_outs/update',
    type: 'POST',
    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
    data: {"ehlak_osool": {"id": id,
           "name": name,
           "rate": rate,
           "value": value,
           "last_year_acc": last_year_acc}},

    success: function(response) {
      alert("تم التعديل");
    }
  });
});
</script>
