<%= render "layouts/ajaxify" %>
<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">الصفحة الرئيسية</a></li>
      <li><a href="#">اليوميات</a></li>
      <li><a href="#">يوميات المخزن</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>عرض مدخلات المخزن</span>
        </div>
        <div class="box-icons">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="no-move"></div>
      </div>
      <%transactions = @materials + @products%>
      <%transactions.sort { |a,b| a.created_at <=> b.created_at }%>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>النوع</th>
              <th>الاسم</th>
              <th>الكمية</th>
            </tr>
          </thead>
          <tbody>
            <% transactions.each do |t| %>
              <%if t.is_a? Material%>
                <tr data-href="<%= material_path(t) %>">
                  <td><%= t.created_at.strftime("%Y/%m/%d") %></td>
                  <td>دخول مادة خام</td>
                  <td><%= @raw_materials.find(t.raw_material_id).name %></td>
                  <td><%= t.quantity %></td>
                </tr>
              <%else%>
                <tr data-href="<%= product_path(t) %>">
                  <td><%= t.created_at.strftime("%Y/%m/%d") %></td>
                  <td>دخول منتج</td>
                  <td><%= t.name %></td>
                  <td><%= t.quantity %></td>
                </tr>
              <% end %>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>عرض مخرجات المخزن</span>
        </div>
        <div class="box-icons">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="no-move"></div>
      </div>
      <%transactions = @purchases + @productions%>
      <%transactions.sort { |a,b| a.created_at <=> b.created_at }%>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>النوع</th>
              <th>الاسم</th>
              <th>الكمية</th>
            </tr>
          </thead>
          <tbody>
            <% transactions.each do |t| %>
              <%if t.is_a? Purchase%>
                <tr data-href="<%= purchase_path(t) %>">
                  <td><%= t.created_at.strftime("%Y/%m/%d") %></td>
                  <td>صرف منتج</td>
                  <td><%= @products.find(t.product_id).name %></td>
                  <td><%= t.quantity %></td>
                </tr>
              <%else%>
                <tr data-href="<%= production_path(t) %>">
                  <td><%= t.created_at.strftime("%Y/%m/%d") %></td>
                  <td>صرف مادة خام للصناعة</td>
                  <td><%= raw_materials.find(t.raw_material_id) %></td>
                  <td><%= t.quantity %></td>
                </tr>
              <% end %>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
  setupTables();
  LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
  $('select').select2();
  $('.dataTables_filter').each(function(){
    $(this).find('label input[type=text]').attr('placeholder', 'Search');
  });
}
$(document).ready(function() {
  // Load Datatables and run plugin on tables 
  LoadDataTablesScripts(AllTables);
  // Add Drag-n-Drop feature
  WinMove();
  $("tr[data-href]").click(function() {
  window.location = this.dataset.href;
}).hover(function() {
    $(this).toggleClass('hover');
});
});


</script>
