<%= render "layouts/ajaxify" %>
<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">الصفحة الرئيسية</a></li>
      <li><a href="#">اليوميات</a></li>
      <li><a href="#">يوميات الحركات</a></li>
    </ol>
  </div>
</div>
<%if current_user.department != "Purchases"%>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>عرض عمليات البيع</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>العميل</th>
              <th>المنجات</th>
              <th>الكمية</th>
              <th>السعر</th>
              <th>المبلغ المتبقي</th>
            </tr>
          </thead>
          <tbody>
            <% @purchases.each do |purchase| %>
              <tr data-href="<%= purchase_path(purchase) %>">
                <%products = @products.find(purchase.product_ids)%>
                <%quantities = purchase.quantities%>
                <td><%= purchase.created_at.strftime("%Y/%m/%d") %></td>
                <td><%= @clients.find(purchase.client_id).name %></td>
                <td>
                  <ul>
                    <%products.each do |p|%>
                      <li><%= p.name %></li>
                    <%end%>
                  </ul>
                </td>
                <td>
                  <ul>
                    <%quantities.each do |q|%>
                      <li><%= q %></li>
                    <%end%>
                  </ul>
                </td>
                <td><%= purchase.price %></td>
                <td><%= purchase.debt %></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><label><input type="text" name="search_date" value="البحث بالتاريخ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_name" value="البحث باسم العميل" class="search_init" /></label></th>
              <th><label><input type="text" name="search_supplier" value="البحث بالمنتج" class="search_init" /></label></th>
              <th><label><input type="text" name="search_price" value="البحث بالكمية" class="search_init" /></label></th>
              <th><label><input type="text" name="search_pay_state" value="البحث بالمبلغ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_in_stock" value="البحث بالمبلغ المتبقي" class="search_init" /></label></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<%end%>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>عرض عمليات الشراء</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-2">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>الاسم</th>
              <th>المورد</th>
              <th>المبلغ</th>
              <th>الموقف</th>
              <th>كمية المخزون</th>
            </tr>
          </thead>
          <tbody>
            <% @materials.each do |material| %>
              <tr data-href="<%= material_path(material) %>">
                <td><%= material.created_at.strftime("%Y/%m/%d") %></td>
                <td><%= @raw_materials.find(material.raw_material_id).name %></td>
                <td><%= @suppliers.find(material.supplier_id).name %></td>
                <td><%= material.price %></td>
                <td><%= material.debt %></td>
                <td><%= material.in_stock %></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><label><input type="text" name="search_date" value="البحث بالتاريخ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_name" value="البحث بالاسم" class="search_init" /></label></th>
              <th><label><input type="text" name="search_supplier" value="البحث بالمورد" class="search_init" /></label></th>
              <th><label><input type="text" name="search_price" value="البحث بالمبلغ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_pay_state" value="البحث بالموقف" class="search_init" /></label></th>
              <th><label><input type="text" name="search_in_stock" value="البحث بكمية المخزون" class="search_init" /></label></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<%if current_user.department != "Stocks" && current_user != "Sales"%>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>عرض المصروفات</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-3">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>الاسم</th>
              <th>البائع</th>
              <th>المبلغ</th>
              <th>طريقة الدفع</th>
              <th>الدين</th>
            </tr>
          </thead>
          <tbody>
            <% @expenses.each do |expense| %>
              <tr data-href="<%= expense_path(expense) %>">
                <td><%= expense.created_at.strftime("%Y/%m/%d") %></td>
                <td><%= expense.name %></td>
                <td><%= expense.seller %></td>
                <td><%= expense.price %></td>
                <td><%= expense.debt %></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><label><input type="text" name="search_date" value="البحث بالتاريخ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_name" value="البحث بالاسم" class="search_init" /></label></th>
              <th><label><input type="text" name="search_supplier" value="البحث بالبائع" class="search_init" /></label></th>
              <th><label><input type="text" name="search_price" value="البحث بالمبلغ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_in_stock" value="البحث بالمبلغ المتبقي" class="search_init" /></label></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<%end%>
<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
  setupTables();
  LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
  $('select').select2();
  $('.dataTables_filter').each(function(){
    $(this).find('label input[type=text]').attr('placeholder', 'Search');
  });
}
$(document).ready(function() {
  // Load Datatables and run plugin on tables 
  LoadDataTablesScripts(AllTables);
  // Add Drag-n-Drop feature
  WinMove();
  $("tr[data-href]").click(function() {
  window.location = this.dataset.href;
}).hover(function() {
    $(this).toggleClass('hover');
});
});


</script>
