<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>DevOOPS</title>
		<meta name="description" content="description">
		<meta name="author" content="Evgeniya">
		<meta name="keyword" content="keywords">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
<div class="container-fluid">
	<div id="page-login" class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="text-right">
				<a href="page_register.html" class="txt-default">Need an account?</a>
			</div>
			<div class="box">
				<div class="box-content">
					<div class="text-center">
						<h3 class="page-header">Alexink Egypt Admin Panel</h3>
					</div>
					<%= form_for(@user, url: {action: 'authenticate'}) do |f| %>
						<div class="form-group">
							<%= f.label :email, 'Email', class:'control-label'%>
							<%= f.text_field :email, class:'form-control'%>
						</div>
						<div class="form-group">
							<%= f.label :name, 'Password', class:'control-label'%>
							<%= f.password_field :password, class:'form-control'%>
						</div>
						<div class="text-center">
							<%= f.submit 'Sign in', class:'btn btn-primary'%>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
