<%= render "layouts/ajaxify" %>
<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">الصفحة الرئيسية</a></li>
      <li><a href="#">المبيعات</a></li>
      <li><a href="#">عرض عمليات البيع</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>عرض جميع عمليات البيع</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-2">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>العميل</th>
              <th>السعر</th>
              <th>العملة</th>
              <th>الموقف</th>
            </tr>
          </thead>
          <tbody>
            <% @purchases.each do |purchase| %>
              <tr data-href="<%= purchase_path(purchase) %>">
                <td><%= purchase.date_added %></td>
                <td><%= @clients.find(purchase.client_id).name %></td>
                <td><%= purchase.price_with_taxes %></td>
                <td><%= purchase.currency %></td>
                <td><%= purchase.debt %></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><label><input type="text" name="search_date" value="البحث بالتاريخ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_name" value="البحث بالعميل" class="search_init" /></label></th>
              <th><label><input type="text" name="search_ppunit" value="البحث بالسعر" class="search_init" /></label></th>
              <th><label><input type="text" name="search_currency" value="البحث بالعملة" class="search_init" /></label></th>
              <th><label><input type="text" name="search_debt" value="البحث بالموقف" class="search_init" /></label></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
  setupTables();
  LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
  $('select').select2();
  $('.dataTables_filter').each(function(){
    $(this).find('label input[type=text]').attr('placeholder', 'Search');
  });
}
$(document).ready(function() {
  // Load Datatables and run plugin on tables 
  LoadDataTablesScripts(AllTables);
  // Add Drag-n-Drop feature
  WinMove();
    $("tr[data-href]").click(function() {
  window.location = this.dataset.href;
}).hover(function() {
    $(this).toggleClass('hover');
});
});
</script>
