<%= render "layouts/ajaxify" %>
<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">الصفحة الؤئيسية</a></li>
      <li><a href="#">المبيعات</a></li>
      <li><a href="#">عرض.عملية.بيع</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-search"></i>
          <span>عرض عملية بيع</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content">
          <%= form_for(@purchase, html: {class: 'form-horizontal'}) do |f| %>
            <% if @purchase.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

                <ul>
                <% @purchase.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= label_tag 'date',  'التاريخ', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= text_field_tag 'date', @purchase.created_at.strftime("%Y/%m/%d"), {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag 'employee',  'الموظف', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= text_field_tag 'user_name', @purchase.user_name, {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :client_id,  'العميل', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.select :client_id, @clients.collect {|c| [c.name, c.id]}, {}, {class:"pull-right",style:"min-width:100%", disabled:true} %>
              </div>
            </div>

            <div id="products">
              <%@purchase.product_ids.each_with_index do |p, i|%>
                <div id="product" style="border: 1px solid #000; border-radius:10px;">
                  <div class="form-group">
                    <%= f.label :product_ids,  'المنتج', {class:"col-sm-2 control-label pull-right"}%>
                    <div class="col-sm-4 pull-right">
                      <%= text_field_tag "product_ids[]", @products.find(p).name, {class:"form-control", disabled:true}%>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :quantities,  'الكمية', {class:"col-sm-2 control-label pull-right"}%>
                    <div class="col-sm-4 pull-right">
                      <%= text_field_tag "quantities" , @purchase.quantities[i], {class:"form-control", disabled:true}%>
                      
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :prices,  'سعر الوحدة', {class:"col-sm-2 control-label pull-right"}%>
                    <div class="col-sm-4 pull-right">
                      <%= text_field_tag "prices" , @purchase.prices[i], {class:"form-control", disabled:true}%>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>

            <div class="form-group">
              <%= f.label :payment_method,  'طريقة الدفع', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :payment_method, {class:"form-control pull-right", disabled:true} %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :payment_state,  'حالة الدفع', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :payment_state, {class:"form-control pull-right", disabled:true} %>
              </div>
            </div>
            <div  class="form-group">
                <%= f.label :debt,  'المبلغ المتبقي', {class:"col-sm-2 control-label pull-right"}%>
                <div class="col-sm-4 pull-right">
                  <%= f.text_field :debt , {class:"form-control", disabled:true}%>
                </div>
            </div>

            <%if @purchase.debt > 0%>
              <div class="form-group">
                <%= f.label :due_date,  'تاريخ الاستحقاق', {class:"col-sm-2 control-label pull-right"}%>
                <div class="col-sm-2 pull-right">
                  <%= f.text_field :due_date , {class:"form-control", disabled:true}%>
                </div>
              </div>
            <%end%>

          <%= link_to 'تعديل', edit_purchase_path(@purchase)%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
// Run Select2 plugin on elements
function DemoSelect2(){
  $('#s2_with_tag').select2({placeholder: "Select OS"});
  $('#s2_country').select2();
}
// Run timepicker
function DemoTimePicker(){
  $('#input_time').timepicker({setDate: new Date()});
}
$(document).ready(function() {
  // Create Wysiwig editor for textare
  TinyMCEStart('#wysiwig_simple', null);
  TinyMCEStart('#wysiwig_full', 'extreme');
  // Add slider for change test input length
  FormLayoutExampleInputLength($( ".slider-style" ));
  // Initialize datepicker
  $('#input_date').datepicker({setDate: new Date()});
  // Load Timepicker plugin
  LoadTimePickerScript(DemoTimePicker);
  // Add tooltip to form-controls
  $('.form-control').tooltip();
  LoadSelect2Script(DemoSelect2);
  // Load example of form validation
  LoadBootstrapValidatorScript(DemoFormValidator);
  // Add drag-n-drop feature to boxes
  WinMove();

});

</script>