
<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">الحسابات العامة</a></li>
      <li><a href="#">ميزان مراجعة</a></li>
    </ol>
  </div>
</div>
<div>
  <div class="pull-right col-sm-1">
    السنة
  </div>
  <div class="pull-right col-sm-2">
    <select id="input_year">
      <%cur = Time.now.year%>
      <%(2000..cur).each do |y|%>
        <option value="<%= y%>" <%= @_year == y ? "selected" : ""%>><%= y%></option>
      <%end%>
    </select>  
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <%= form_for(@revision, url: '/revision/update') do |f| %>
          <%= f.hidden_field :id%>
          <table style="text-align: center;" class="table table-bordered" id="table">
            <thead>
              <tr>
                <td colspan="5">
                  ميزان المراجعة في <%= "#{@_year}/12/31"%>
                </td>
              </tr>
              <tr>
                <th style="text-align: center; width: 300px;" rowspan="2">البيان</th>
                <th style="text-align: center;" colspan="2">الرصيد</th>
                <th style="text-align: center;" colspan="2">المراجعة</th>
              </tr>
              <tr>
                <th>دائن</th>
                <th>مدين</th>
                <th>دائن</th>
                <th>مدين</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>الخزنة</td>
                <td><%= f.text_field :treasury_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :treasury_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.treasury_debt - @revision.treasury_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>

              </tr>

              <tr>
                <td>بنك الإمارات دبي</td>
                <td><%= f.text_field :bnp_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :bnp_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.bnp_debt - @revision.bnp_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>

                <tr>
                <td>بنك الإمارات دبي دولار</td>
                <td><%= f.text_field :bnp_dollar_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :bnp_dollar_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.bnp_dollar_debt - @revision.bnp_dollar_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>بنك الإمارات دبي يورو</td>
                <td><%= f.text_field :bnp_euro_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :bnp_euro_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.bnp_euro_debt - @revision.bnp_euro_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>بنك الإسكان والتعمير</td>
                <td><%= f.text_field :abu_dhabi_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :abu_dhabi_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.abu_dhabi_debt - @revision.abu_dhabi_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>بنك الإسكان والتعمير دولار</td>
                <td><%= f.text_field :abu_dhabi_dollar_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :abu_dhabi_dollar_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.abu_dhabi_dollar_debt - @revision.abu_dhabi_dollar_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>بنك الإسكان والتعمير يورو</td>
                <td><%= f.text_field :abu_dhabi_euro_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :abu_dhabi_euro_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.abu_dhabi_euro_debt - @revision.abu_dhabi_euro_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>فروق عملة</td>
                <td><%= f.text_field :fx_difference_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :fx_difference_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.fx_difference_debt - @revision.fx_difference_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>م. تشغيل</td>
                <td><%= f.text_field :operation_expense_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :operation_expense_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.operation_expense_debt - @revision.operation_expense_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>م. بيعية</td>
                <td><%= f.text_field :sale_expense_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :sale_expense_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.sale_expense_debt - @revision.sale_expense_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>
              <tr>
                <td>م. عمومية وإدارية</td>
                <td><%= f.text_field :general_managerial_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :general_managerial_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.general_managerial_debt - @revision.general_managerial_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>أ. ق.</td>
                <td><%= f.text_field :aq_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :aq_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.aq_debt - @revision.aq_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>أ. ق. برسم تحصيل</td>
                <td><%= f.text_field :aq_rasm_ta7seel_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :aq_rasm_ta7seel_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.aq_rasm_ta7seel_debt - @revision.aq_rasm_ta7seel_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>أ. ق. برسم تحصيل</td>
                <td><%= f.text_field :e3temadat_mostanadeya_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :e3temadat_mostanadeya_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.e3temadat_mostanadeya_debt - @revision.e3temadat_mostanadeya_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>إيجار مقدم</td>
                <td><%= f.text_field :rental_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :rental_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.rental_debt - @revision.rental_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>موردين</td>
                <td><%= f.text_field :supplier_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :supplier_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.supplier_debt - @revision.supplier_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>مشتريات</td>
                <td><%= f.text_field :purchases_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :purchases_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.purchases_debt - @revision.purchases_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>م. علي المشتريات</td>
                <td><%= f.text_field :m_moshtarayat_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :m_moshtarayat_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.m_moshtarayat_debt - @revision.m_moshtarayat_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>موردين خارجين</td>
                <td><%= f.text_field :outer_suppliers_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :outer_suppliers_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.outer_suppliers_debt - @revision.outer_suppliers_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>عملاء</td>
                <td><%= f.text_field :clients_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :clients_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.clients_debt - @revision.clients_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>عملاء</td>
                <td><%= f.text_field :sales_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :sales_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.sales_debt - @revision.sales_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>ض مبيعات</td>
                <td><%= f.text_field :sales_tax_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :sales_tax_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.sales_tax_debt - @revision.sales_tax_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>ض ا ص</td>
                <td><%= f.text_field :das_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :das_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.das_debt - @revision.das_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>اصول ث</td>
                <td><%= f.text_field :osool_sabta_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :osool_sabta_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.osool_sabta_debt - @revision.osool_sabta_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>ضرائب علي الدخل</td>
                <td><%= f.text_field :income_tax_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :income_tax_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.income_tax_debt - @revision.income_tax_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>دائنين مساهمين</td>
                <td><%= f.text_field :creditor_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :creditor_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.creditor_debt - @revision.creditor_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr>
                <td>أخرى</td>
                <td><%= f.text_field :other_debt, {onchange:"update_table()", style:"width:100px;"} %></td>
                <td><%= f.text_field :other_credit, {onchange:"update_table()", style:"width:100px;"} %></td>
                <%result = @revision.other_debt - @revision.other_credit%>
                <%if result >= 0%>
                  <td></td>
                  <td></td>
                <%else%>
                  <td></td>
                  <td>%></td>
                <%end%>
              </tr>

              <tr id"totals">
                <td>إجمالي</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

            </tbody>
          </table>
          <%= f.submit "تحديث البيانات"%>
          
    
      <button id="print-1">طباعة</button>
        <%end%>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'js/jspdf.min' %>
<%= javascript_include_tag 'js/html2canvas' %>
<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
  setupTables();
  LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
  $('select').select2();
  $('.dataTables_filter').each(function(){
    $(this).find('label input[type=text]').attr('placeholder', 'Search');
  });
}

var update_table = function() {
  var total_debt1 = 0;
  console.log(total_debt1);
  var total_debt2 = 0;
  var total_credit1 = 0;
  var total_credit2 = 0;
  rows = $("#table tr").slice(3, 30)
  var t1 = 0, t2 = 0, t3 = 0, t4 = 0;
  for (var i = 0; i < rows.length; i++) {
    t1 = parseFloat($(rows[i].children[1].children[0]).val());
    console.log(t1);
    t2 = parseFloat($(rows[i].children[2].children[0]).val());
    total_debt1 += t1;
    total_credit1 += t2;
    var result = t1 - t2;
    if (result > 0) {
      $(rows[i].children[3]).html(result);
      total_debt2 += result;
    }
    else if (result < 0){
      $(rows[i].children[4]).html(-result);
      total_credit2 -= result;
    }
  }
  totals = $("#table tr").last()[0];
  $(totals.children[1]).html(total_debt1);
  $(totals.children[2]).html(total_credit1);
  $(totals.children[3]).html(total_debt2);
  $(totals.children[4]).html(total_credit2);
};
$(document).ready(function() {
  // Load Datatables and run plugin on tables 
  LoadDataTablesScripts(AllTables);
  // Add Drag-n-Drop feature
  WinMove();
  update_table();
});
    $("tr[data-href]").click(function() {
  window.location = this.dataset.href;
}).hover(function() {
    $(this).toggleClass('hover');
});

var f = function() {
    window.location.href = "/revision/" + $("#input_year").val();
}
$('#input_year').change(f)

$('#print-1').click(function () {
      var doc = new jsPDF('p', 'pt', [1142, 1430]);
    html2canvas(document.querySelector("#table"), { onrendered: function(canvas) {
      console.log(canvas.width)
      console.log(canvas.height)
      doc.addImage(canvas.toDataURL(), 'JPEG', 50, 50, canvas.width, canvas.height);
        doc.save('Revision-' + $('#input_year').val()+ '.pdf');
    }});
  });

</script>
