<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="index.html">الصفحة الرئيسية</a></li>
			<li><a href="#">الإقرار الضريبي</a></li>
		</ol>
	</div>
</div>
<style>

input, button {
    vertical-align:middle;
}
    #paper {
        position: absolute;
        width: 100%;
        height: 1060px;
        background-color: white;
    }
    .main-content {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 95%;
        height: 90%;
        border-style: solid;
    }
    #header-right {
        position: absolute;
        top: 20px;
        right: 25px;
    }
    #header-center {
        position: absolute;
        top: 60px;
        right: 215px;
    }
    #header-left {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #details-box {
        position: absolute;
        left: 20px;
        top: 100px;
        border: solid;
    }

    #details {
        position: absolute;
        right: 20px;
        top: 180px;
    }
    .number-box {
        display: inline-block;
        border-style: solid;
        width: 20px;
        height: 25px;
        /*float: left;*/
    }

    hr {
        border: 0;
        clear:both;
        display:block;
        width: 96%;               
        background-color:#000000;
        height: 1px;
    }

    .label-right {
        position: absolute;
        right: 20px;
        display: inline-block;
    }
    .numbers-right {
        position: absolute;
        right: 80px;
        display: inline-block;   
        border-style: solid;
        width: 20px;
        height: 25px;
    }

    .numbers-left {
        position: absolute;
        right: 410px;
        display: inline-block;
        border-style: solid;
        width: 20px;
        height: 25px;
    }

    .value-box {
        position: absolute;
        width: 180px;
        height: 25px;
        border-style: solid;
        display: inline-block;
    }

    .right-value-box {
        right: 140px;
    }

    .left-value-box {
        left: 30px;
    }



</style>

<div>
  <div class="pull-right col-sm-1">
    السنة
  </div>
  <div class="pull-right col-sm-2">
    <select id="input_year">
      <%cur = Time.now.year%>
      <%(2000..cur).each do |y|%>
        <option value="<%= y%>" <%= @_year == y ? "selected" : ""%>><%= y%></option>
      <%end%>
    </select>  
  </div>
</div>

<div class="row"  dir="ltr">
  <div class="col-xs-8 col-xs-offset-2" style="height: 1080px;" id="taxes">
      <div id="paper" style="text-align: center;">
        <div class="main-content">
            <div id="header-right">وزارة المالية<br/>مصلحة الضرائب</div>
            <div id="header-center">إقرار<br/>الضريبة العامة على المبيعات</div>
            <div id="header-left">Logo</div>
            <div id="details-box">
                الاسم: شركة الإسكندرية للأحبار<br/>
                العنوان: ك 27 طريق القاهرة - الإسكندرية الصحراوي<br/>
                الراسل: العامرية<br/>
            </div>
            <div id="details" dir="rtl">رقم التسجيل &nbsp <span class="number-box">4</span><span class="number-box">5</span><span class="number-box">9</span>&nbsp
            <span class="number-box">7</span><span class="number-box">9</span><span class="number-box">1</span>&nbsp
            <span class="number-box">4</span><span class="number-box">7</span><span class="number-box">3</span>
            &nbsp
            الفترة:
            &nbsp
            <span class="number-box">4</span><span class="number-box">7</span>&nbsp
            <span class="number-box">4</span><span class="number-box">7</span>
            &nbsp
            نهاية الفترة
            &nbsp
            <span class="number-box">4</span><span class="number-box">7</span>&nbsp
            <span class="number-box">4</span><span class="number-box">7</span>
            </div>
            <hr style="position: absolute; top: 200px; left: 10px;">
            
            <div dir="rtl" style="position: absolute; top: 230px; right: 10px;">المبيعات:</div>
            <div style="position: absolute; top: 235px; right: 185px;">القيمة</div>
            <div style="position: absolute; top: 235px; right: 550px;">الضريبة</div>
            <div class = "label-right" style="top: 260px;" dir="rtl">
                محلي 
            </div>
            <div class="numbers-right" style="top: 260px;">1</div>

            <div class="value-box right-value-box" style="top: 260px;"><input style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;" value="<%= f @purchases_price %>"></input></div>
            <%purchase_tax = @purchases_price * 0.1%>
            <div class="numbers-left" style="top: 260px;">2</div>
            <div class="value-box left-value-box" style="top: 260px;"><%= f purchase_tax %></div>

            <div class = "label-right" style="top: 310px;" dir="rtl">
                صادرات 
            </div>
            <div class="numbers-right" style="top: 310px;">3</div>
            <div class="value-box right-value-box" style="top: 310px;"><input style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;"></input></div>
            <div style="position: absolute; top: 310px; right: 400px;">فئة ضريبة واحدة</div>
            <div class="value-box left-value-box" style="width: 120px; top: 310px;"><input style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;"></input></div>

            <div class = "label-right" style="top: 360px;" dir="rtl">
                اعفاءات 
            </div>
            <div class="numbers-right" style="top: 360px;">4</div>
            <div class="value-box right-value-box" style="top: 360px;"><input style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;"></input></div>
            <div style="position: absolute; top: 360px; right: 400px;">فئات ضريبية متعددة</div>
            <div class="value-box left-value-box" style="width: 120px; top: 360px;"><input style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;"></input></div>

            <hr style="position: absolute; top: 380px; left: 10px;">
            
            <div dir="rtl" style="position: absolute; top: 410px; right: 10px;">المشريات القابلة للخصم:</div>
            <div style="position: absolute; top: 415px; right: 185px;">القيمة</div>
            <div style="position: absolute; top: 415px; right: 550px;">الضريبة</div>
            <div class = "label-right" style="top: 440px;" dir="rtl">
                محلية 
            </div>
            <div class="numbers-right" style="top: 440px;">5</div>
            <div class="value-box right-value-box" style="top: 440px;"><input style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;" value="<%= f @material_price_local %>"></input></div>
            <div class="numbers-left" style="top: 440px;">6</div>
            <div class="value-box left-value-box" style="top: 440px;"><input style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;" value="<%= f @material_price_local * 0.1 %>"></input></div>

            <div class = "label-right" style="top: 490px;" dir="rtl">
                مستوردة 
            </div>
            <div class="numbers-right" style="top: 490px;">7</div>
            <div class="value-box right-value-box" style="top: 490px;"><input type="text" style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;" value="<%= f @material_price_foreign %>"></input></div>
            <div class="numbers-left" style="top: 490px;">8</div>
            <div class="value-box left-value-box" style="top: 490px;"><input type="text" style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;" value="<%= f @material_price_foreign * 0.1%>"></input></div>

            
            <div style="position: absolute; top: 540px; right: 160px">إجمالي الضريبة المخصومة</div>
            <div class="numbers-left" style="top: 540px;">9</div>
            <div class="value-box left-value-box" style="top: 540px;"><input type="text" style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;"></input></div>

            <hr style="position: absolute; top: 560px; left: 10px;">
            
            <div dir="rtl" style="position: absolute; top: 590px; right: 200px;">الضريبة المستحقة</div>
            
            <div class="numbers-left" style="top: 595px;">10</div>
            <div class="value-box left-value-box" style="top: 590px;"><input type="text" style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;"></input></div>
            
            <div dir="rtl" style="position: absolute; top: 640px; right: 200px;">رصيد دائن من الشهر السابق</div>
            <div class="value-box left-value-box" style="top: 640px;"><input type="text" style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;"></input></div>

            <div dir="rtl" style="position: absolute; top: 690px; right: 200px;">رصيد الشهر الحالي</div>
            <div class="value-box left-value-box" style="top: 690px;"><input type="text" style="padding: 5px; height: 20px; width: 100%; border: none; text-align: center;"></input></div>


            <div style="position: absolute; top: 750px; right: 20px; width: 90%; height: 140px; border-style: solid; border-width: 1px; border-radius: 25px;">
                <div align="center">إقرار</div>
                <div style="position: absolute; top: 30px; right: 20px;">أقر أن البيانات عاليه صحيحة وتحت مسئوليتي</div>
                <div dir="rtl" style="position: absolute; top: 60px; right: 10px;">الاسم: <span style="display: inline-block; width: 200px; border-bottom: 3px solid black;"></span></div>
                <div dir="rtl" style="position: absolute; top: 60px; right: 350px;">الصفة: <span style="display: inline-block; width: 200px; border-bottom: 3px solid black;"></span></div>

                <div dir="rtl" style="position: absolute; top: 100px; right: 10px;">التوقيع: <span style="display: inline-block; width: 200px; border-bottom: 3px solid black;"></span></div>
                <div dir="rtl" style="position: absolute; top: 100px; right: 350px;">التاريخ: <span style="display: inline-block; width: 200px; border-bottom: 3px solid black;"></span></div>
                
            </div>
        </div>
      </div>
      <button id="print-1" style="position: absolute; right: 300px; top: 1070px;">طباعة</button>
    </div>
</div>

<%= javascript_include_tag 'js/jspdf.min' %>
<%= javascript_include_tag 'js/html2canvas' %>
<script type="text/javascript">
// Run Select2 plugin on elements
function DemoSelect2(){
	$('#s2_with_tag').select2({placeholder: "Select OS"});
	$('#s2_country').select2();
}
// Run timepicker
function DemoTimePicker(){
	$('#input_time').timepicker({setDate: new Date()});
}
$(document).ready(function() {
	// Create Wysiwig editor for textare
	TinyMCEStart('#wysiwig_simple', null);
	TinyMCEStart('#wysiwig_full', 'extreme');
	// Add slider for change test input length
	FormLayoutExampleInputLength($( ".slider-style" ));
	// Initialize datepicker
	$('#input_date').datepicker({setDate: new Date()});
	// Load Timepicker plugin
	LoadTimePickerScript(DemoTimePicker);
	// Add tooltip to form-controls
	$('.form-control').tooltip();
	LoadSelect2Script(DemoSelect2);
	// Load example of form validation
	LoadBootstrapValidatorScript(DemoFormValidator);
	// Add drag-n-drop feature to boxes
	WinMove();
});

var f = function() {
    window.location.href = "/taxes/" + $("#input_year").val();
}
$('#input_year').change(f)

$('#print-1').click(function () {
  var doc = new jsPDF('p', 'pt', [600, 1050]);
    html2canvas($("#paper"), { onrendered: function(canvas) {
      console.log(canvas.toDataURL());
      console.log(canvas.height);
      doc.addImage(canvas.toDataURL(), 'JPEG', 0, 5, 595, canvas.height);
        doc.save('Taxes.pdf');
    }});
  });
</script>
