<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">الصفحة الرئيسية</a></li>
      <li><a href="#">المصروفات</a></li>
      <li><a href="#">ادخال مصروفات جديدة</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-search"></i>
          <span>تفاصيل المصروفات</span>
        </div>
        <div class="box-icons">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="no-move"></div>
      </div>
      <div class="box-content">
        <% if notice.present? %>
        <h3 class="alert alert-danger"><%= notice%></h3>
        <%end%>
          <%= form_for(@expense, html: {class: 'form-horizontal'}) do |f| %>
            <% if @expense.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

                <ul>
                <% @expense.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :name,  'وصف المصروفات', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :name , {class:"form-control", placeholder:"وصف المصروفات", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"وصف المصروفات"}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :seller,  'المستحق', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :seller , {class:"form-control", placeholder:"المستحق", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"المستحق"}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :price,  'المبلغ', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :price , {class:"form-control", placeholder:"المبلغ", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"المبلغ"}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :payment_method,  'طريقة الدفع', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.select :payment_method, ['cash', 'bank'], {}, {class:"pull-right", style:"min-width:100%"} %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :payment_state,  'حالة الدفع', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.select :payment_state, ['تم الدفع', 'آجل'],{}, {class:"pull-right", style:"min-width:100%", onchange:"set_debt()"} %>
              </div>

              <div id="debt-div" hidden="hidden">
                <%= f.label :debt,  'المبلغ المتبقي', {class:"col-sm-2 control-label pull-right"}%>
                <div class="col-sm-4 pull-right">
                  <%= f.text_field :debt , {class:"form-control", value:0}%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-2 pull-right">
                <%= f.submit "إدخال المصروفات", class:"btn btn-primary btn-label-left" %>
              </div>
              <div class="col-sm-offset-1 col-sm-2 pull-right">
                <button type="cancel" class="btn btn-default btn-label-left">
                <span><i class="fa fa-clock-o txt-danger"></i></span>
                  إلغاء
                </button>
            </div>
          </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
// Run Select2 plugin on elements
function DemoSelect2(){
  $('#s2_with_tag').select2({placeholder: "Select OS"});
  $('#s2_country').select2();
}
// Run timepicker
function DemoTimePicker(){
  $('#input_time').timepicker({setDate: new Date()});
}
$(document).ready(function() {
  // Create Wysiwig editor for textare
  TinyMCEStart('#wysiwig_simple', null);
  TinyMCEStart('#wysiwig_full', 'extreme');
  // Add slider for change test input length
  FormLayoutExampleInputLength($( ".slider-style" ));
  // Initialize datepicker
  $('#input_date').datepicker({setDate: new Date()});
  // Load Timepicker plugin
  LoadTimePickerScript(DemoTimePicker);
  // Add tooltip to form-controls
  $('.form-control').tooltip();
  LoadSelect2Script(DemoSelect2);
  // Load example of form validation
  LoadBootstrapValidatorScript(DemoFormValidator);
  // Add drag-n-drop feature to boxes
  WinMove();
});

function set_debt() {
  $('#expense_debt').val(0)
  if ($('#expense_payment_state').val() == "آجل") {
    $('#debt-div').show();
  }
  else {
   $('#debt-div').hide();
  }
}
</script>