<%= render "layouts/ajaxify" %>
<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">Alexink Egypt</a></li>
      <li><a href="#">المصروفات</a></li>
      <li><a href="#">عرض المصروفات</a></li>
    </ol>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-linux"></i>
          <span>عرض جميع المصروفات</span>
        </div>
        <div class="box-icons">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-2">
          <thead>
            <tr>
              <th><label><input type="text" name="search_name" value="البحث بالاسم" class="search_init" /></label></th>
              <th><label><input type="text" name="search_seller" value="البحث بالبائع" class="search_init" /></label></th>
              <th><label><input type="text" name="search_price" value="البحث بالمبلغ" class="search_init" /></label></th>
              <th><label><input type="text" name="search_pay_method" value="البحث بطريقة الدفع" class="search_init" /></label></th>
              <th><label><input type="text" name="search_debt" value="البحث بالدين" class="search_init" /></label></th>
            </tr>
          </thead>
          <tbody>
            <% @expenses.each do |expense| %>
              <tr data-href="<%= expense_path(expense) %>">
                <td><%= expense.name %></td>
                <td><%= expense.seller %></td>
                <td><%= expense.price %></td>
                <td><%= expense.payment_method %></td>
                <td><%= expense.debt %></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>الاسم</th>
              <th>البائع</th>
              <th>المبلغ</th>
              <th>طريقة الدفع</th>
              <th>الدين</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
  TestTable2();
  LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
  $('select').select2();
  $('.dataTables_filter').each(function(){
    $(this).find('label input[type=text]').attr('placeholder', 'Search');
  });
}
$(document).ready(function() {
  // Load Datatables and run plugin on tables 
  LoadDataTablesScripts(AllTables);
  // Add Drag-n-Drop feature
  WinMove();
  $("tr[data-href]").click(function() {
  window.location = this.dataset.href;
}).hover(function() {
    $(this).toggleClass('hover');
});
});


</script>
