<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Dashboard</a></li>
      <li><a href="#">Suppliers</a></li>
      <li><a href="#">Register Supplier</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-search"></i>
          <span>Supplier Details</span>
        </div>
        <div class="box-icons">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="expand-link">
            <i class="fa fa-expand"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="no-move"></div>
      </div>
      <div class="box-content">
          <%= form_for(@supplier, html: {class: 'form-horizontal'}) do |f| %>
            <% if @supplier.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

                <ul>
                <% @supplier.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :name,  'Supplier Name', {class:"col-sm-2 control-label"}%>
              <div class="col-sm-4">
                <%= f.text_field :name , {class:"form-control", placeholder:"Supplier Name", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"Supplier Name"}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :country,  'Country', {class:"col-sm-2 control-label"}%>
              <div class="col-sm-4">
                <%= f.text_field :country , {class:"form-control", placeholder:"Country", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"Country"}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :address,  'Address', {class:"col-sm-2 control-label"}%>
              <div class="col-sm-4">
                <%= f.text_field :address , {class:"form-control", placeholder:"Address", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"Address"}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :zip,  'Postal Code', {class:"col-sm-2 control-label"}%>
              <div class="col-sm-4">
                <%= f.text_field :zip , {class:"form-control", placeholder:"Postal Code", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"Postal Code"}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :phone,  'Phone', {class:"col-sm-2 control-label"}%>
              <div class="col-sm-4">
                <%= f.text_field :phone , {class:"form-control", placeholder:"Phone", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"Phone"}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :email,  'Email address', {class:"col-sm-2 control-label"}%>
              <div class="col-sm-4">
                <%= f.text_field :email , {class:"form-control", placeholder:"email@example.com", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"Email Address"}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :contact_person,  'Contact Person', {class:"col-sm-2 control-label"}%>
              <div class="col-sm-4">
                <%= f.text_field :contact_person , {class:"form-control", placeholder:"Contact Person", 'data-toggle' => "tooltip", 'data-placement' => "bottom", title:"Contact Person"}%>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-2">
              <%= f.submit class:"btn btn-primary btn-label-left" %>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
              <button type="cancel" class="btn btn-default btn-label-left">
              <span><i class="fa fa-clock-o txt-danger"></i></span>
                Cancel
              </button>
            </div>
          </div>
            </div>
          <% end %>

        
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
// Run Select2 plugin on elements
function DemoSelect2(){
  $('#s2_with_tag').select2({placeholder: "Select OS"});
  $('#s2_country').select2();
}
// Run timepicker
function DemoTimePicker(){
  $('#input_time').timepicker({setDate: new Date()});
}
$(document).ready(function() {
  // Create Wysiwig editor for textare
  TinyMCEStart('#wysiwig_simple', null);
  TinyMCEStart('#wysiwig_full', 'extreme');
  // Add slider for change test input length
  FormLayoutExampleInputLength($( ".slider-style" ));
  // Initialize datepicker
  $('#input_date').datepicker({setDate: new Date()});
  // Load Timepicker plugin
  LoadTimePickerScript(DemoTimePicker);
  // Add tooltip to form-controls
  $('.form-control').tooltip();
  LoadSelect2Script(DemoSelect2);
  // Load example of form validation
  LoadBootstrapValidatorScript(DemoFormValidator);
  // Add drag-n-drop feature to boxes
  WinMove();
});
</script>