<%= render "layouts/ajaxify" %>
<div class="row">
  <div id="breadcrumb" class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">الصفحة الرئيسية</a></li>
      <li><a href="#">الموردين</a></li>
      <li><a href="#">عرض بيانات المورد</a></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12" id="xyz">
    <div class="box">
      <div class="box-header">
        <div class="box-name">
          <i class="fa fa-search"></i>
          <span>بيانات المورد</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content">
          <%= form_for(@supplier, html: {class: 'form-horizontal'}) do |f| %>
            <% if @supplier.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

                <ul>
                <% @supplier.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :name,  'اسم الموزع', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :name , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :country,  'الدولة', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :country , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :address,  'العنوان', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :address , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :zip,  'الرقم البريدي', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :zip , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :phone,  'الهاتف', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :phone , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :email,  'البريد الإليكتروني', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :email , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :bank,  'بيانات البنك', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_area :bank , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :contact_person,  'جهة الاتصال', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :contact_person , {class:"form-control", disabled:true}%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :credit,  'الموقف', {class:"col-sm-2 control-label pull-right"}%>
              <div class="col-sm-4 pull-right">
                <%= f.text_field :credit , {class:"form-control", disabled:true}%>
              </div>
            </div>
      			<%= link_to 'تعديل', edit_supplier_path(@supplier) %> |
      			<%= link_to 'حذف', @supplier, method: :delete, data: { confirm: 'هل أنت متأكد؟' } %>
            </div>
          <% end %>

        
      </div>
    </div>
  </div>
</div>

<div class="row" id="table">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div align="center">
          <span>عرض حركات الشراء من المورد</span>
        </div>

        <div class="no-move"></div>
      </div>
      <div class="box-content no-padding table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>التاريخ</th>
              <th>المواد الخام</th>
              <th>المبلغ</th>
              <th>الموقف</th>
              <th>النوع</th>
              <th>العملة (القيمة الأجنبية)</th>
            </tr>
          </thead>
          <tbody>
            <% @materials.each do |material| %>
              <tr data-href="<%= material_path(material) %>">
                <td><%= material.date_added %> </td>
                <td>
                  <ul>
                  <% @raw_materials.find(material.raw_material_ids).each do |r| %>
                  <li><%= r.name%></li>
                  <%end%>
                </ul>
                </td>
                <td><%=p material.price_with_taxes %></td>
                <td><%=p material.debt %></td>
                <td><%=material.internal ? "داخلية" : "خارجية" %></td>
                <td><%= material.currency %></td>
              </tr>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- <div class="col-xs-6 col-xs-offset-6">
    <div class="col-xs-4">
      <a href"" class="btn btn-default btn-label-left" id="print-1"><span><i class="fa fa-floppy-o"></i></span> طباعة وحفظ</a>
    </div>
  </div> -->
<%= javascript_include_tag 'js/jspdf.min' %>
<%= javascript_include_tag 'js/html2canvas' %>
<script type="text/javascript">
// Run Select2 plugin on elements
function DemoSelect2(){
  $('#s2_with_tag').select2({placeholder: "Select OS"});
  $('#s2_country').select2();
}
// Run timepicker
function DemoTimePicker(){
  $('#input_time').timepicker({setDate: new Date()});
}
$(document).ready(function() {
  // Create Wysiwig editor for textare
  
  WinMove();
    // Load Datatables and run plugin on tables 
  LoadDataTablesScripts(AllTables);
});

function AllTables(){
  setupTables();
  LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
  $('select').select2();
  $('.dataTables_filter').each(function(){
    $(this).find('label input[type=text]').attr('placeholder', 'Search');
  });
}
$("tr[data-href]").click(function() {
  window.location = this.dataset.href;
}).hover(function() {
    $(this).toggleClass('hover');
});

$('#print-1').click(function () {
      var doc = new jsPDF('p', 'pt', 'a4');
    html2canvas(document.querySelector("#xyz"), { onrendered: function(canvas) {
      doc.addImage(canvas.toDataURL(), 'JPEG', 0, 0, 595, canvas.height);
        doc.save('supplier-transactions.pdf');
    }});
  });
</script>
